<section class="diagnosis-card">
  <form [formGroup]="diagnosisForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          @if (!diagnosisId) {
          Add Diagnosis
          } @else {
          Update Diagnosis
          }
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="form-container">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required />
            <mat-hint>Please enter a name.</mat-hint>
            <mat-error>Name is required</mat-error>
          </mat-form-field>

          @if (isLoading) {
          <div class="spinner-container">
            <mat-spinner></mat-spinner>
          </div>
          }
        </div>
      </mat-card-content>

      @if (!isLoading) {
      <mat-card-actions>
        <button type="button" mat-raised-button color="accent" (click)="goBack()">
          Back
        </button>

        @if (!isDeleted) {
        <button type="submit" mat-raised-button color="primary" [disabled]="diagnosisForm.invalid">
          Submit
        </button>
        }

        @if (!isDeleted && diagnosisId) {
        <button type="button" mat-raised-button color="warn" (click)="deleteDiagnosis()">
          Delete
        </button>
        }

        @if (isDeleted && diagnosisId) {
        <button type="button" mat-raised-button color="primary" (click)="restoreDiagnosis()">
          Restore
        </button>
        }
      </mat-card-actions>
      }
    </mat-card>
  </form>
</section>