
<section fxLayout fxLayoutAlign="center" class="user-profile-card">
  <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <mat-card fxFlex.xs="100%" fxFlex="600px">
      <mat-card-title fxLayoutAlign="center">Update Profile</mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Your email"
            formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            formControlName="firstName"
            required>
          <mat-hint>Please enter a first name.</mat-hint>
          <mat-error>First name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Middle Name"
            formControlName="middleName">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Last Name"
            formControlName="lastName"
            required>
          <mat-hint>Please enter a last name.</mat-hint>
          <mat-error>Last name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Address"
            formControlName="address">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Street Name"
            formControlName="streetName">
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Street No."
            formControlName="streetNo"
            required>
          <mat-hint>Please enter a street no.</mat-hint>
          <mat-error>Street No. is Required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="CNP"
            formControlName="cnp"
            required>
          <mat-hint>Please enter a valid CNP. Example: 1991111121123</mat-hint>
          <mat-error>Invalid or missing CNP. Example: 1991111121123</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Phone Number"
            formControlName="phoneNumber"
            required>
          <mat-hint>Please enter a valid phone number. Example: 0743123123</mat-hint>
          <mat-error>Invalid or missing phone number. Example: 0743123123</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Choose Country" formControlName="countryId" (selectionChange)="getCountiesSelectOnChange($event.value)" required>
            <mat-option
              *ngFor="let country of countrySelectList.selectItems"
              [value]="country.value">
              {{ country.label }}
            </mat-option>
          </mat-select>
          <mat-hint>Please choose a country</mat-hint>
          <mat-error>Please choose a country</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="this.countySelectList.selectItems">
          <mat-select placeholder="Choose County" formControlName="countyId" required (selectionChange)="getCitiesSelect($event.value)" required>
            <mat-option
              *ngFor="let county of countySelectList.selectItems"
              [value]="county.value">
              {{ county.label }}
            </mat-option>
          </mat-select>
          <mat-hint>Please choose a county</mat-hint>
          <mat-error>Please choose a county</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="this.citySelectList.selectItems">
          <mat-select placeholder="Choose City" formControlName="cityId" required>
            <mat-option
              *ngFor="let city of citySelectList.selectItems"
              [value]="city.value">
              {{ city.label }}
            </mat-option>
          </mat-select>
          <mat-hint>Please choose a city</mat-hint>
          <mat-error>Please choose a city</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Choose Gender" formControlName="genderId" required>
            <mat-option
              *ngFor="let gender of genderSelectList.selectItems"
              [value]="gender.value">
              {{ gender.label }}
            </mat-option>
          </mat-select>
          <mat-hint>Please choose a gender</mat-hint>
          <mat-error>Please choose a gender</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isAdmin">
          <mat-select placeholder="Choose Roles" formControlName="roleIds" required multiple>
            <mat-option
              *ngFor="let role of roleSelectList.selectItems"
              [value]="role.value"
              [disabled]="role.label === userRoleName">
              {{ role.label }}
            </mat-option>
          </mat-select>
          <mat-hint>Please choose roles</mat-hint>
          <mat-error>Please choose roles</mat-error>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
        <button
        *ngIf="!isLoading"
        type="button"
        mat-raised-button
        color="accent"
        (click)="goBack()"
      >
        Back
      </button>
        <button
          *ngIf="!isDeleted"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="userProfileForm.invalid"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
