<mat-nav-list>
  @if (!isAuth) {
  <a mat-list-item routerLink="/register" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>

  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  }

  @if (isAuth) {
  <a mat-list-item [routerLink]="['/user/profile', currentUserId]" (click)="onClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-caption">User Profile</span>
  </a>
  }

  @if (isAdmin) {
  <a mat-list-item routerLink="/location/cities" (click)="onClose()">
    <mat-icon>location_city</mat-icon>
    <span class="nav-caption">Cities</span>
  </a>

  <a mat-list-item routerLink="/location/countries" (click)="onClose()">
    <mat-icon>public</mat-icon>
    <span class="nav-caption">Countries</span>
  </a>

  <a mat-list-item routerLink="/location/counties" (click)="onClose()">
    <mat-icon>map</mat-icon>
    <span class="nav-caption">Counties</span>
  </a>

  <a mat-list-item routerLink="/location/clinics" (click)="onClose()">
    <mat-icon>local_hospital</mat-icon>
    <span class="nav-caption">Clinics</span>
  </a>

  <a mat-list-item routerLink="/user/genders" (click)="onClose()">
    <mat-icon>people</mat-icon>
    <span class="nav-caption">Genders</span>
  </a>
  }

  @if (isAuth) {
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
  }
</mat-nav-list>