<mat-toolbar color="primary">
  <div class="mobile-menu">
    <button mat-icon-button (click)="onToggleSidenav()" aria-label="Toggle sidebar navigation">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="brand-logo">
    <a routerLink="/">MediApp</a>
  </div>

  <div class="nav-links">
    <ul class="navigation-items">
      <!-- Auth links -->
      @if (!isAuth) {
      <li><a routerLink="/register">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      }

      <!-- Profile Link -->
      @if (isAuth) {
      <li>
        <a [routerLink]="['/user/profile', currentUserId]">Profile</a>
      </li>
      }

      <!-- User Menu -->
      @if (isAdmin) {
      <li class="menu-item">
        <button mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
          User <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu" [hasBackdrop]="false" yPosition="below">
          <div class="menu-container" (mouseenter)="userMenuTrigger.openMenu()"
            (mouseleave)="closeMenuWithDelay(userMenuTrigger)">
            <button mat-menu-item routerLink="/user/genders">Genders</button>
            <button mat-menu-item routerLink="/user/profiles">Profiles</button>
          </div>
        </mat-menu>
      </li>
      }

      <!-- Location Menu -->
      @if (isAdmin) {
      <li class="menu-item">
        <button mat-button [matMenuTriggerFor]="locationMenu" #locationMenuTrigger="matMenuTrigger">
          Location <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #locationMenu="matMenu" [hasBackdrop]="false" yPosition="below">
          <div class="menu-container" (mouseenter)="locationMenuTrigger.openMenu()"
            (mouseleave)="closeMenuWithDelay(locationMenuTrigger)">
            <button mat-menu-item routerLink="/location/countries">Countries</button>
            <button mat-menu-item routerLink="/location/counties">Counties</button>
            <button mat-menu-item routerLink="/location/cities">Cities</button>
            <button mat-menu-item routerLink="/location/clinics">Clinics</button>
          </div>
        </mat-menu>
      </li>
      }

      <!-- Diagnosis Menu -->
      @if (isAdmin) {
      <li class="menu-item">
        <button mat-button [matMenuTriggerFor]="diagnosisMenu" #diagnosisMenuTrigger="matMenuTrigger">
          Diagnosis <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #diagnosisMenu="matMenu" [hasBackdrop]="false" yPosition="below">
          <div class="menu-container" (mouseenter)="diagnosisMenuTrigger.openMenu()"
            (mouseleave)="closeMenuWithDelay(diagnosisMenuTrigger)">
            <button mat-menu-item routerLink="/diagnoses/diagnoses">Diagnoses</button>
            <button mat-menu-item routerLink="/diagnoses/drugs">Drugs</button>
            <button mat-menu-item routerLink="/diagnoses/diagnosisxdrugs">DiagnosisXDrugs</button>
          </div>
        </mat-menu>
      </li>
      }

      <!-- Employee Menu -->
      @if (isAdmin || isDoctor || isNurse) {
      <li class="menu-item">
        <button mat-button [matMenuTriggerFor]="employeeMenu" #employeeMenuTrigger="matMenuTrigger">
          Employee <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #employeeMenu="matMenu" [hasBackdrop]="false" yPosition="below">
          <div class="menu-container" (mouseenter)="employeeMenuTrigger.openMenu()"
            (mouseleave)="closeMenuWithDelay(employeeMenuTrigger)">
            @if (isAdmin) {
            <button mat-menu-item routerLink="/employees/employeetypes">Employee Types</button>
            <button mat-menu-item routerLink="/employees/medicalchecktypes">Medical Check Types</button>
            <button mat-menu-item routerLink="/employees/employees">Employees</button>
            }
            <button mat-menu-item routerLink="/employees/holidayintervals">Holiday Intervals</button>
          </div>
        </mat-menu>
      </li>
      }

      <!-- Treatment Menu -->
      @if (isAuth) {
      <li class="menu-item">
        <button mat-button [matMenuTriggerFor]="treatmentMenu" #treatmentMenuTrigger="matMenuTrigger">
          Treatment <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #treatmentMenu="matMenu" [hasBackdrop]="false" yPosition="below">
          <div class="menu-container" (mouseenter)="treatmentMenuTrigger.openMenu()"
            (mouseleave)="closeMenuWithDelay(treatmentMenuTrigger)">
            @if (isDoctor) {
            <button mat-menu-item [routerLink]="['/treatments/employeeprescriptions', currentUserId]">Doctor
              Prescriptions</button>
            <button mat-menu-item [routerLink]="['/treatments/employeemedicalchecks', currentUserId]">Doctor Medical
              Checks</button>
            }
            <button mat-menu-item [routerLink]="['/treatments/patientprescriptions', currentUserId]">My
              Prescriptions</button>
            <button mat-menu-item [routerLink]="['/treatments/patientmedicalchecks', currentUserId]">My Medical
              Checks</button>
            @if (isDoctor || isNurse) {
            <button mat-menu-item [routerLink]="['/treatments/medicalchecksbyclinic', clinicId]">Clinic Medical
              Checks</button>
            }
          </div>
        </mat-menu>
      </li>
      }

      <!-- Logout Link -->
      @if (isAuth) {
      <li>
        <button mat-button (click)="onLogout()">
          Logout
        </button>
      </li>
      }
    </ul>
  </div>
</mat-toolbar>