<section fxLayout fxLayoutAlign="center" class="medical-check-card">
  <form [formGroup]="medicalCheckForm" (ngSubmit)="onSubmit()">
    <mat-card fxFlex.xs="100%" fxFlex="600px">
      <mat-card-title fxLayoutAlign="center"
        >Update Medical Check</mat-card-title
      >
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
        <a
        mat-raised-button
        *ngIf="!isLoading && showAddPrescription"
        color="primary"
        fxFlex="200px"
        fxFlex.xs="100%"
        routerLink="/treatments/prescriptions/add/{{medicalCheckId}}"
      >
        Add Prescription
      </a>
      <a
        mat-raised-button
        *ngIf="!isLoading && hasPrescriptions"
        color="primary"
        fxFlex="200px"
        fxFlex.xs="100%"
        routerLink="/treatments/prescriptionsbymedicalcheck/{{medicalCheckId}}"
      >
        Show Prescriptions
      </a>
      </mat-card-actions>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        <mat-form-field>
          <input
            matInput
            placeholder="Appointment"
            [matDatepicker]="appointmnentPicker"
            formControlName="appointment"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="appointmnentPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #appointmnentPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Clinic Name"
            formControlName="clinicName"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Medical Check Type Name"
            formControlName="medicalCheckTypeName"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Employee Name"
            formControlName="employeeName"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Patient Name"
            formControlName="patientName"
          />
        </mat-form-field>
        <mat-form-field *ngIf="this.diagnosisSelectList.selectItems">
          <mat-select
            placeholder="Choose Diagnosis"
            formControlName="diagnosisId"
            required
          >
            <mat-option
              *ngFor="let diagnosis of diagnosisSelectList.selectItems"
              [value]="diagnosis.value"
            >
              {{ diagnosis.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
        <button
          *ngIf="!isLoading"
          type="button"
          mat-raised-button
          color="accent"
          (click)="goBack()"
        >
          Back
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="medicalCheckForm.invalid"
          *ngIf="!isDeleted && medicalCheckId"
        >
          Update
        </button>
        <button
          *ngIf="!isDeleted && medicalCheckId"
          type="button"
          mat-raised-button
          color="warn"
          (click)="deleteMedicalCheck()"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
